.links {
  background: linear-gradient(90deg, var(--color-ocean-blue) 50%, var(--color-dark-blue) 50%, var(--color-dark-blue) 100%);

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 40px;

    @include mobile {
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 30px;
    }

    @include xs {
      padding-top: 10px;
      padding-bottom: 48px;
    }
  }

  &__list {
    max-width: 230px;

    &:not(:last-child) {
      margin-right: 5.3%;
    }

    &:last-child {
      margin-top: 85px;

      @include xs {
        margin-top: 5px;
      }
    }

    &:nth-child(3) {
      margin-left: 14.2%;
    }

    @include mobile {
      width: 50%;

      &:last-child {
        margin-right: 5.3%;
      }

      &:nth-child(3) {
        margin-left: 0;
      }
    }

    @include xs {
      width: 90%;

      &:nth-child(3) .links__item--main-link {
        margin-top: 81px;
      }
    }
  }

  &__item {
    margin-bottom: 15px;

    a {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.16px;
      color: var(--color-white);
      opacity: 0.6;
    }

    &--main-link {
      margin-top: 30px;
      margin-bottom: 20px;

      a {
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.2px;
        opacity: 1;

        svg {
          margin-left: 3px;
          width: 10px;
          height: 10px;
        }
      }

      @include xs {
        margin-bottom: 17px;
      }
    }
  }

  @include xs {
    background: linear-gradient(var(--color-ocean-blue) 57%, var(--color-dark-blue) 57%, var(--color-dark-blue) 100%);
  }
}
