.products {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 40px;

    @include mobile {
      flex-direction: column;
    }

    @include xs {
      padding-bottom: 3px;
    }
  }

  &__aside {
    width: 20%;

    @include mobile {
      width: 100%;
    }
  }

  &__list {
    width: 74.6%;

    @include mobile {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    margin: 40px auto 0;
    border: 1px solid var(--color-ocean-blue);
    border-radius: 64px;
    padding: 17px 28px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-ocean-blue);
    opacity: 0.3;

    @include sm {
      display: none;
    }
  }
}

.products-aside {
  &__container {
    width: 100%;
    height: 100%;
  }

  &__list {
    @include mobile {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 33px;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--color-ocean-blue);
    opacity: 0.2;

    @include xs {
      margin-bottom: 15px;
      font-size: 14px;
      letter-spacing: 0.8px;
    }
  }

  &__item {
    max-width: 190px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--color-ocean-blue);
    opacity: 0.2;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    p {
      display: inline;
      background-image: linear-gradient(to right, var(--color-ocean-blue) 75%, transparent 75%);
      background-position: 0 1.04em;
      background-size: 8px 3px;
      background-repeat: repeat-x;

      @include xs {
        background-position: 0 1em;
      }
    }

    @include sm {
      &:nth-child(2n) {
        width: 60%;
      }

      &:nth-child(3n) {
        width: 40%;
      }
    }

    @include xs {
      font-weight: 500;
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }

    &--active {
      position: relative;
      padding-left: 27px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.6px;
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 4px;
        width: 4px;
        height: 80%;
        background-color: var(--color-orange);

        @include xs {
          left: 0;
          top: 6px;
        }
      }

      p {
        background: none;
      }

      @include mobile {
        margin-right: 55px;
      }

      @include xs {
        padding-left: 20px;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

.products-list {
  &__container {
    width: 100%;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @include sm {
      flex-wrap: nowrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-top: 50px;
    width: 32%;
    height: 420px;
    background-position: center 25%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: var(--color-lavender);

    &--compressor {
      background-image: url("../img/compressor.png");
    }

    &--air {
      background-image: url("../img/air-system.png");
    }

    &--diesel {
      background-image: url("../img/hero.png");
    }

    &--nitrogen {
      background-image: url("../img/nitrogen.png");
    }

    &--fridge {
      background-image: url("../img/fridge.png");
    }

    &--engineer {
      background-image: url("../img/hero.png");
    }

    @include sm {
      height: 59vw;
      min-width: 40%;
    }

    @include xs {
      height: 84vw;
      min-width: 71%;
    }
  }

  &__descr {
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-ocean-blue);

    @include xs {
      padding-right: 25px;
      padding-bottom: 12px;
      padding-left: 25px;
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 1.3px;
    }
  }

  svg {
    margin-bottom: 20px;
    width: 16px;
    height: 11px;
    fill: var(--color-ocean-blue);
    opacity: 0.1;
  }
}
