// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-ocean-blue: #1e3747;
  --color-light-gray-blue: #72c1c7;
  --color-green-blue: #283949;
  --color-orange: #ff9027;
  --color-crayola: #e8ecf1;
  --color-lavender: #f8f9fd;
  --color-distant-blue: #4a6278;
  --color-dark-blue: #243d4d;
  --color-slate-gray: #2d4656;
  --color-dark-orange: #fc6c00;
}
